<add name="DefaultConnection"
     connectionString="Server=localhost;Database=TestDb;User Id=sa;Password=Pass123;"
     providerName="System.Data.SqlClient" />

<add name="LoggingDb"
     connectionString="Server=localhost;Database=Logs;User Id=sa;Password=Pass123;"
     providerName="System.Data.SqlClient" />
